*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color: #000000;
color: #FF0000;
}
body{
	background-color: #FFFF00;
	color: #000000;
}
.glyphicon{
	font-size: 25px;
	color:#FF0000; 
}

.center{
	width: 90%;
	background-color: #FF0000;

}
.container
{
	background-color: #FF69B4;
}
.text-center{
	font-size: 35px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color: #FF0000;
}
.navbar-brand{
font-size: 35px;
	
}
